@import "sass-rem";

.header {
  position: relative;
  //max-width: rem(1920px);
  //width: 100%;
  height: rem(87px);
  padding: rem(24px 0);
  margin: 0 auto;
  background-color: var(--bgColor);
  @media(max-width: 991.98px) {
    padding: rem(16px);
    height: rem(68px);
  }

  &__inner {
    //position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20px);
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: rem(16px);
    @media(min-width: 992px) {
      margin-left: auto;

    }
  }

  &__balance {
    @media(min-width: 992px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  &__logo {
    z-index: 20;
    @media(min-width: 992px) {
      position: absolute;
      transform: translateY(-50%);
      left: rem(71px);
      top: 50%;

    }
  }
}

.mobileLogo {
  width: rem(30px);
  overflow: hidden;
  display: inline-block;

  img {
    max-width: none;
  }
}