@import 'sass-rem';

.affiliate {
  &__btn {
    width: rem(230px);
    @media(max-width: 991.98px) {
      width: rem(198px);
      height: rem(40px);
      max-height: none;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(15px);
    margin-bottom: rem(40px);
    @media(max-width: 1199.98px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 767.98px) {
      grid-template-columns: auto;
      margin-bottom: rem(24px);
    }
  }
}

.affiliateItem {
  text-align: center;
  padding: rem(34px 16px);
  //background-color: ;
  border-radius: 1rem;
  background-color: var(--bgColor);
  position: relative;
  overflow: hidden;
  @media(max-width: 767.98px) {
    padding: rem(8px);
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";

  }

  &::before {
    background: linear-gradient(90deg, #19262B 0, rgba(25, 38, 43, 0.63) 35.7%, rgba(25, 38, 43, 0.00) 100%, rgba(25, 38, 43, 0.00) 100%);
  }

  &::after {
    background: url("../../images/affiliate/affiliateItem.png") 100px 30px/cover no-repeat;
    @media (max-width: 767.98px) {
      background: url("../../images/affiliate/affiliateItem.png") right bottom/cover no-repeat;

    }
  }

  &__content {
    position: relative;
    z-index: 1;
    @media(max-width: 767.98px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      gap: rem(8px);
    }
  }

  &__icon {
    margin-bottom: rem(19px);
    @media (max-width: 767.98px) {
      margin-bottom: 0;
      width: rem(48px);
      height: rem(48px);
    }
  }

  &__text {
    line-height: 139.25%;
  }
}

.affiliate-why {
  margin-bottom: 3rem;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @media (max-width: 991.98px) {
      flex-direction: column;
      gap: rem(8px);
    }
  }

  &__content {
    max-width: rem(740px);
    @media (min-width: 768px) {
      padding: rem(16px 18px 0 16px);

    }
  }

  &__btn,
  &__list,
  &__text {
    padding-left: rem(8px);
  }

  &__text {
    padding-top: rem(8px);
    line-height: 139.25%;

    &:not(:last-child) {

      margin-bottom: rem(22px);
    }
  }


  &__list {
    padding-left: 2rem;
    line-height: 200.75%;

    li {
      list-style: disc;
    }

    &:not(:last-child) {

      margin-bottom: 1rem;
    }
  }

  &__img {
    @media (min-width: 768px) {
      flex: 0 0 rem(455px);

    }
  }

  .btn {
    width: rem(230px);
    @media (max-width: 767.98px) {
      width: 100%;
      max-height: none;
      height: rem(40px);
    }
  }
}