@import 'sass-rem';

.card {

  overflow: hidden;
  min-width: rem(162px);

  &:hover {
    img {
      filter: blur(2px);
      //transform: scale(1.1) translateY(5%);
    }

    .zoom {
      opacity: 1;
      pointer-events: all;
    }

    .card__btns {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__btns {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(8px);
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    overflow: hidden;
    background: rgba(#162226, 0.5);

    .play {
      width: 50%;
    }

    .demo {
      font-size: rem(12px);
    }
  }

  &__body {
    background-color: var(--secondaryColor);
    padding: rem(12px 14px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10px);
    border-radius: rem(0 0 var(--sizeBg) var(--sizeBg));
    @media(max-width: 991.98px) {
      padding: rem(6.5px 12px);
    }
  }

  &__img {
    border-radius: rem(var(--sizeBg) var(--sizeBg) 0 0);
    overflow: hidden;
    position: relative;

    img {
      //height: 100%;
      height: rem(168px);
      //transition: transform .2s ease-in-out;
      transition: .3s;
      width: 100%;
      @media(max-width: 991.98px) {
        height: rem(87px);
      }
    }
  }

  &__title {
    font-size: rem(var(--sizeBg));
    text-transform: capitalize;
    //white-space: nowrap;
    @media(max-width: 991.98px) {
      font-size: rem(12px);
    }
  }

  &__favorite {
    svg {
      fill: #404F55;
      transition: fill .2s ease-in-out, transform .2s ease-in-out;
      @media(max-width: 991.98px) {
        width: rem(16px);
        height: rem(16px);
      }
    }

    &:hover {
      svg {
        fill: var(--accentColor);
        transform: scale(1.1);
      }
    }
  }
}

.zoom {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 3;
  width: rem(24px);
  height: rem(24px);

  transition: .3s;

  &:hover{
    transform: scale(1.1);
  }
}