:root {
  // ================ Colors ===========================
  --primaryColor: #162226;
  --secondaryColor: #212f35;
  --lightColor: #fff;
  --accentColor: #33c16c;
  --btnColor: #202f35;
  --greyColor: #404f55;
  --bgColor: #19262b;
  --fontFamily: 'Rubik', sans-serif;
  --fontSize: 14px;

  --sizeSm: 4px;
  --sizeMd: 8px;
  --sizeBg: 16px;
}