@import 'sass-rem';

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.arrow {
  transition: .3s ease-in-out;
}

.transform {
  transform: rotate(180deg);
}

.accordionItem {
  border-radius: rem(var(--sizeMd));
  background-color: var(--bgColor);

  &__title {
    padding: rem(var(--sizeBg));
    width: 100%;
    font-size: rem(18px);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(var(--sizeBg));
    @media(max-width: 991.98px) {
      font-size: rem(12px);
      padding: rem(11px 8px);
    }

    svg {
      color: #404F55;
    }
  }

  &__collapse {
    height: 0;
    overflow-y: hidden;
    transition: height .3s ease-in-out;

  }

  .open {
    height: auto;
  }

  &__body {
    position: relative;
    padding: 1rem rem(77px) rem(32px) rem(35px);
    font-size: rem(14px);
    line-height: 1.28;

    &::before {
      display: inline-block;
      position: absolute;
      width: rem(3px);
      height: calc(100% - 1rem);
      left: 1rem;
      top: 0;
      background-color: var(--accentColor);
      content: "";
    }
  }

}